---
Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  concurrency-*,
  modernize-*,
  readability-*,
  google-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -misc-non-private-member-variables-in-classes,
  -google-readability-todo,
  -bugprone-easily-swappable-parameters

HeaderFilterRegex: '.*/(include|src)/.*'

WarningsAsErrors: ''

CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.PrivateMemberCase: lower_case
  readability-identifier-naming.PrivateMemberSuffix: _
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.ConstantCase: CamelCase
  readability-identifier-naming.ConstantPrefix: k
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.NamespaceCase: lower_case
